.conteiner {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    border: 10px solid red;

}

header {
    max-width: inherit;
    width: inherit;
    padding: 47px 80px 47px 64px;
    border: 5px solid black;
    background-color: #13345B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

ul {
    display: flex;
    gap: 52px;

}

li {
    color: #FDD504;
    font-size: 2.25rem;
}

.fa-magnifying-glass, .fa-cart-shopping{

    font-size: 3rem;
    color: #FDD504;
}


/* main */

main {
    color: #FFFFFF;
    margin-top: 300px;
    padding: 58px 108px 76px 108px;
    border: 5px solid green;
}


h6{
    color: #13345B;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin-bottom: 139px;
}

form{
    width: 100%;
    height: 1000px;

    border: 5px solid violet;
}


.mainformdiv1{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.formdiv1{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 62px;
    
}

.formdiv2{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 62px;
    
}


label{
    color: #13345B;
    font-size: 1.5rem;
    font-weight: 700;
    display: block;
 }

 input{
    border:none;
    border-bottom: 5px solid #15C1E7;
    
 }



 .mainformdiv2{
    margin-top: 194px;
    display: flex;
    justify-content: space-between;
    align-items: center;

 }


 .p1{
    width: 30%;
    color: #15C1E7;
    font-size: 2rem;
    font-weight: 700;


    }

    
 .mainformdiv3{
    margin-top: 111px;
    display: flex;
    justify-content: space-between;
    align-items: center;

 }

 .mainformdiv4{
    margin-top: 111px;
    display: flex;
    justify-content: space-between;
    align-items: center;

 }

 

 .p2{
    color: #000000;
    font-size: 2rem;
 }




footer{
    width: 100%;
    background-color: #13345B;

    padding: 110px 108px 110px 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.footerdiv{
    display: flex;
    gap: 69px;
}

.fa-facebook{
    font-size: 4rem;
    color: #15C1E7;
}

.fa-instagram{
   
    font-size: 4rem;
    color: #FB0110;
    
}
.fa-twitter{
    font-size: 4rem;
    color: #75A1F3;
    
}

.fa-youtube{
    font-size: 4rem;
    color:#FDD504;
}



